asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
h11
hyperlink
idna
incremental
msgpack
outcome
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
PySocks
redis
selenium
service-identity
setuptools
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
Twisted
txaio
typing_extensions
urllib3
websocket-client
wheel
wsproto
zope.interface